@import './base.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f6fa;
  font-family: sans-serif;
}

/* layout */

.layout {
  display: flex;
  min-height: 100vh;
}

/* sidebar */

.sidebar {
  width: 220px;
  background: #08122d;
  color: white;
  padding: 30px 20px;
}

.logo h1 {
  color: #2563ff;
  margin-bottom: 5px;
}

.logo p {
  color: #c0c7d6;
  margin-bottom: 50px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

/* hover */

.sidebar li:hover {
  background: #1d2b52;
  transform: translateX(5px);
}

/* active */

.sidebar .active {
  background: #ff7a00;
}